In [1]:
import pandas as pd

In [2]:
df = pd.read_json("assets/data_dict.json")
df.head()

,Field Name,Data Type,Description,Allowed Values,Example,BPMN Task,Rule Logik,UID,BPMN TASK
0,age_group,string,Categorized age group,"'<18', '18-64', '65-74', '75-80','>=80'",65-74,CHADSVASC,Only one answer is possible,NaN,NaN
1,sex,char(1),Biological sex of the patient,"'M' (Male), 'F' (Female)",F,CHADSVASC,Only one answer is possible,NaN,NaN
2,chf,bool,History of congestive heart failure or left ve...,"True, False",False,CHADSVASC,Only one answer is possible,1.0,NaN
3,hypertension,bool,History of hypertension,"True, False",True,CHADSVASC,Only one answer is possible,NaN,NaN
4,diabetes,bool,History of diabetes mellitus,"True, False",False,CHADSVASC,Only one answer is possible,NaN,NaN